@import "../../../../components/mixin/Mixin.scss";
@import "../../../../components/variables/Variables.scss";
.add-meeting{
    .calendar_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .add-new {
        a {
            @include Btn_style;
        }
    }
    .add-meeting-box{
        margin-top: 30px;
        padding: 30px;
        background-color: $black_1;
        box-shadow: $shadow_2;
        border-radius: $border_radius;
    }
}