@import "../../../../components/variables/Variables.scss";
@import "../../../../components/mixin/Mixin.scss";

.updatePermissions_section_wrapper {
  .updatePermissions_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .add-new {
      a {
        @include Btn_style;
      }
    }
  }
  .updatePermissions_box {
    margin: $margin-top;
    background-color: $black-1;
    border-radius: $border-radius;
    padding: $padding-15;
    box-shadow: $shadow-2;
    .top_permission {
      h5 {
        font-size: $font-16;
        font-weight: 600;
      }
      .add_permission_date {
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: $font-14;
        span {
          border: 1px solid $black-6;
          border-radius: $border-radius;
          padding: 5px 15px;
          background-color: $black-3;
          svg {
            margin-left: 5px;
            margin-bottom: 3px;
          }
        }
      }
      form {
        .permission_name {
          padding: 20px 0;
          display: flex;
          align-items: center;
          gap: 30px;
          .main_input {
            width: 100%;
            padding-bottom: 20px;
            label {
                margin-bottom: 5px;
                font-size: $font-14;
                font-weight: 600;
                color: $black-8;
              }
              div {
                background-color: $black-1;
                width: 100%;
                outline: none;
                border-radius: $border-radius;
                border: 1px solid $black-5;
                font-size: $font-14;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 15px;
                input {
                  height: 40px;
                  border: none;
                  width: 100%;
                  outline: none;
                  padding: 0 10px;
                  background-color: transparent;
                }
                svg {
                  font-size: $font-20;
                }
              }
          }
        }
        .btn-down {
            display: flex;
            width: 100%;
            padding: 20px 0;
            align-items: center;
            justify-content: end;
            gap: 15px;
            a,
            button
            {
                &:hover {
                    background-color: $blue-6;
                        color: $black-1 ;
                    svg {
                        color: $black-1;
                    }
                }
                padding: 6px 25px;
                border: 1px solid $blue-6;
                border-radius: $border-radius;
                font-size: $font-14;
                transition: $transition;
                color: $blue-6;
                font-size: $font-14;
                background-color: $blue-6;
                color: $black-1;
                svg {
                    transition: $transition;
                    color: $blue-6;
                    margin-left: 5px;
                    margin-bottom: 3px;
                }
            }
            .cancel {
                border: none;
                color: $black-8;
                background: $black-4;
            }
            .save {
                &:hover {
                    background-color: $blue-4;
                    border: 1px solid $blue-4;
                }
            }
        }
      }
    }
  }
}
