.add-new {
 
    .url{
        padding: 6px 20px;
        border: 1px solid #218bc7;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        color: #218bc7;
        font-size: 14px;
    }:hover{
        background-color: #218bc7;
        color: #fff;
    }
    
}