@import "../../../components/variables/Variables.scss";
@import "../../../components/mixin/Mixin.scss";
.dropdown {
    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      color: #656565;
      transition: all 0.2s ease-in-out;
    }
    .dropdown-menu {
      background-color: white;
      border: none;
      box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.247), 0px 0px 14px -1px rgba(0, 0, 0, 0.06);
      .dropdown-item {
        padding: 0.5rem 1rem;
        text-align: start;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background-color: $blue-2;
        }
        &:last-child {
          &:hover {
            background-color: rgba(255, 0, 0, 0.137) !important;
          }
        }
      }
    }
    
  }
.main_powers_wrapper {
    .powers_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .add-new {
            button {
                @include Btn_style;
            }
        }
    }
    .powers_box {
        margin: $margin-top;
        background-color: $black-1;
        border-radius: $border-radius;
        padding: $padding-15;
        box-shadow: $shadow-2;
        .box-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            .title {
                p {
                    margin: 0;
                    font-size: $font-16;
                    font-weight: 600;
                }
            }
            .search-date {
                display: flex;
                align-items: center;
                gap: 15px;
                .search {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    color: $black-6;
                    height: 40px;
                    background-color: $black-1;
                    width: 100%;
                    padding: 0 20px;
                    border-radius: 50px;
                    border: 1px solid $black-5;
                    display:flex;
                    align-items: center;
                    cursor: pointer;
                    input {
                        margin-left: 15px;
                        height:38px;
                        width:100%;
                        border:none;
                        outline: none;
                        font-size: $font-14;
                    }
                }
                .date {
                    form {
                        input {
                            color: $black-7;
                            height: 40px;
                            background-color: $black-1;
                            width: 100%;
                            padding: 0 20px;
                            border-radius: 50px;
                            border: 1px solid $black-5;
                            width:100%;
                            font-size: $font-14;
                        }
                    }
                }
            }
        }
    }
}

    .project_price {
        padding: 10px;
        width: 100%;
        label {
            font-size: $font-16;
            font-weight: 400;
            color: $black-13;
            margin: 5px;
        }
        input {
           width: 100%;
           margin: 5px;
            outline: none;
            display: block;
            border: 1px solid $black-5;
            border-radius: $border-radius;
            padding: 7px 10px;
            font-size: 14px;
        }
    }

